<!-- <!DOCTYPE html> -->
<!-- <html lang="{{ site.lang | default: "en-GB" }}"> -->
<!--     <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" >
    </head>
    <body> -->

<!doctype html>
<html lang="{{ site.lang | default: "en-GB" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="James Prime Writes Stuff" />
        <!-- <meta name="keywords" content="chemistry,research,code,life" /> -->
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Libre+Baskerville:400,400i,700|PT+Serif:400,400i,700,700i" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    </head>
    <body>
