/* Coolors Exported Palette - coolors.co/0088d1-1f92d1-3e9dd1-9cbed1-8cc6e5 */

/* HSL */
$color1: hsla(201%, 100%, 41%, 1);
$color2: hsla(201%, 74%, 47%, 1);
$color3: hsla(201%, 62%, 53%, 1);
//$color4: hsla(202%, 37%, 72%, 1);
//$color5: hsla(201%, 63%, 72%, 1);

/* RGB */
$color1: rgba(0, 136, 209, 1);
$color2: rgba(31, 146, 209, 1);
$color3: rgba(62, 157, 209, 1);
$color4: rgba(94, 168, 209, 1);
$color5: rgba(125, 179, 229, 1);
$color6: rgba(156, 190, 229, 1);
