/* Coolors Exported Palette - coolors.co/0383c9-3099d2-55abda-73bae0-8cc6e5 */

/* HSL */
$color1: hsla(201%, 97%, 40%, 1);
$color2: hsla(201%, 64%, 51%, 1);
$color3: hsla(201%, 64%, 59%, 1);
$color4: hsla(201%, 64%, 66%, 1);
$color5: hsla(201%, 63%, 72%, 1);

/* RGB */
$color1: rgba(3, 131, 201, 1);
$color2: rgba(48, 153, 210, 1);
$color3: rgba(85, 171, 218, 1);
$color4: rgba(115, 186, 224, 1);
$color5: rgba(140, 198, 229, 1);